  /* Elements */
html {
    font-family: sans-serif;
    background-color: rgb(05,210,231);
}
body {
  margin: 0px;
}

a:active {
  color:white;
    
}

li{
  padding: 5px;
  margin-bottom:15px;
  border-style: double;
  background-color:rgb(250,105,0) ;
  text-align:center;
}

h2{
  display: inline-block;
  vertical-align: middle;
  font-size: 32px;
  margin: 20px 0px;
}
p {
  font-size:14;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size:14px;
}
  /* Index H1 */
#list {
  position:relative;
  top:20px;
  
  
}

.pomodoro-estimate{
  font-weight: bold;
  color: #F44336;
  background-color: #F5F5F5;
  border-radius: 50px;
  font-size: 14px;
  padding: 5px 10px 5px 10px;
} 
 /*Edits button */
.add-new-todo-button {
  position:relative;
  font-size: 25px;
  text-align: center;
  color: #FFF;
  outline: none;
  border-style: none;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 2px 2px 1px #90A4AE;
  display: inline-block;
  background-color: #03A9F4;
  top:-10px;
  margin:10px;
}
/*Makes button 3D */
.add-new-todo-button:active{
  box-shadow: 1px 1px 1px #90A4AE;
}
/* Checkbox*/
.checkbox{
    width:50px;
    color: rgb(50,50,90)
}

.delete{
  display: inline-block;
  padding:10px;
  background-color: rgb(255,0,0);
  text-align:center;
  box-shadow: 2px 2px 1px #90A4AE;
  color:white;
  
  
}
.edit{
  display: inline-block;
  padding:10px;
  background-color: blue;
  text-align:center;
  box-shadow: 2px 2px 1px #90A4AE;
  color:white;
}/*Back to index */
.go{
  font-size: 25px;
  text-align: center;
  color: white;
  display: inline-block;
  padding:10px;
  background-color: green;
  box-shadow: 2px 2px 1px #90A4AE;
  
}
/*Edits input*/
.input {
  font-weight: bold;
  color: #F44336;
  background-color: #F5F5F5;
  border-radius: 50px;
  font-size: 14px;
  padding: 5px 10px 5px 10px;
} 
  /* Gets rid of line under links */
.noColor {
  text-decoration:none;
  
}

/* container around page */
.container2 {
  position:relative;
  background-color:rgb(255,255,255);
  text-align: center;
  width:100%;
  height:100%;
  border-bottom-style: ridge;
  border-top-style: ridge;
  border-width:7px;
  
}
 
 /*CSS necessary for customizable checkbox */
  /* The container */
  .container {
      display: inline;
      position: relative;
      padding-left: 35px;
      margin-bottom: 12px;
      cursor: pointer;
      font-size: 22px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
  }
  
  /* Create a custom checkbox */
  .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 25px;
      width: 25px;
      background-color: #eee;
      box-shadow: 1px 1px 1px #90A4AE;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
      background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
      background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
      content: "";
      position: absolute;
      display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
      display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
      left: 9px;
      top: 5px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
  }






