<div class="container">
    <h1>Workshop Todo List</h1>
        <ul>
        <% @todos.each do |todo| %>
        <li>
            <input type="checkbox"/>
            <a href = "/todo/show/<%= todo.id %>"><%= todo.description %></a>
            <span class="pomodoro-estimate"><%= todo.pomodoro_estimate %> pomodoro</span>
        </li>
        <% end %>
        </ul>
        <a class="noColor" href="/todo/new/"><input id="add-new-todo-button" type="submit" value="Add todo"/></a>
</div>
