<body>
<div class="container2">
    <h1 id ="list">Workshop Todo List</h1>
        <ul>
        <% @todos.each do |todo| %>
        <li>
            <label class="container">
            <input type="checkbox"/ checked="checked">
            <a href = "/show/<%= todo.id %>"><%= todo.description %></a>
            <span class="pomodoro-estimate"><%= todo.pomodoro_estimate %> pomodoro</span>
            <span class="checkmark"></span>
            </label>
        </li>
        <% end %>
        </ul>
        <a class="noColor" href="/new/"><input class="add-new-todo-button" type="submit" value="Add todo"/></a>
        <h1 id="Pomodoro-technique">What is a pomodoro estimate?</h1>
        <p id="Pomodoro-technique-info">
            <strong>1 pomodoro = 25 minutes + 5 minutes break.</strong><br>
            For more info: <a href="https://www.focusboosterapp.com/the-pomodoro-technique">https://www.focusboosterapp.com/the-pomodoro-technique</a>
            </p>
</div>
</body>

