    
    <input class="checkbox" type="checkbox">
    <h2> <%=@todo.description %><br> Pomodoros <%=@todo.pomodoro_estimate %> </h2>
    <a class="edit noColor" href="#">Edit</a>
    <a class="delete noColor" href="#">Delete</a>
    <a href="/todo/index" class="go noColor" class="link">Go back...</a>
    
    
 
