    <div id="showDiv">
    <label class="container">
    <input type="checkbox" checked="checked">
    <h2 id="Todo-info"><%=@todo.description %><br> Pomodoros <%=@todo.pomodoro_estimate %> </h2>
    <a class="edit noColor justButtons" href="/edit/<%= @todo.id %>">Edit</a>
    <a class="delete noColor justButtons" href="/destroy/<%= @todo.id %>">Delete</a>
    <a href="/" class="go noColor justButtons" class="link">Go back...</a>
    
    </label>
    </div>
    
 
