
    <input class="checkbox" type="checkbox">
    <h2> <%=@todo.description %><br> Pomodoros <%=@todo.pomodoro_estimate %> </h2>
    <a class="edit" href="#">Edit</a>
    <a class="delete" href="#">Delete</a>
    <a class="go" class="link">Go back...</a>
 
